@keyframes wiggle {
    0% { transform: rotate(0deg); }
   80% { transform: rotate(0deg); }
   85% { transform: rotate(5deg); }
   95% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}

.wiggle {

  animation: wiggle 2.5s infinite;
  transition: all .2s ease-in-out;
  margin: 0 auto;
}

.wiggle:hover {
  animation: none;
  transform: scale(1.1);
  transition: all .2s ease-in-out;
  0% { transform: rotate(0deg); }
 80% { transform: rotate(0deg); }
 85% { transform: rotate(5deg); }
 95% { transform: rotate(-5deg); }
100% { transform: rotate(0deg); }
}



body {
  font-family: 'Dosis', sans-serif;
  background: #114357; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left,   #F6C4D7, #93C8E1 ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left,  #F6C4D7, #93C8E1 ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


      }

.main {
    border: 3px solid #000;
    margin: 50px;
    background -webkit-linear-gradient(40deg, #A2DAD0 10%, #24C0D9 100%);
    background:    -moz-linear-gradient(40deg, #A2DAD0 10%, #24C0D9 100%);
    background:     -ms-linear-gradient(40deg, #A2DAD0 10%, #24C0D9 100%);
    background:      -o-linear-gradient(40deg, #A2DAD0 10%, #24C0D9 100%);
    background:         linear-gradient(40deg, #A2DAD0 10%, #24C0D9 100%);
    padding: 20px;
    text-align: center;
}

.main h1{
  font-size: 4em;
}
.main p {
  font-size: 2em;
}
.about p{
    font-size: 1.2em;
    text-align: left;

}

.about a {
  background-color: #FDDF00;
  text-transform: uppercase;
  font-size: 1.2em;
  color: #000;
}

.about a:hover{
  text-decoration: none;
  border-bottom: dotted 3px #000;
}

.contact  {
  border: black 3px solid;
  background-color: #fff;
  padding: 15px 10px 10px 10px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  width: 300px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 40px;
  font-size: 1.6em;

}


.contact a {
  text-decoration: none;
    color: #000;
}
ul {
  list-style: none;
  padding: 0 25px 25px 25px;
  display: flex;
  flex-direction: row;
  justify-content: center;

}
li {
  padding: 20px;
  text-align: center;
}


.social p {
  text-align: center;
}
