body {
  font-family: 'Mate SC', serif;
}
h1{
  font-size: 3em;
  letter-spacing: .55em;
  border-top: 1px solid #ccc;
  padding-top: 20px;

}

h2 {
  font-size: 3em;
  margin-top: -45px;
  letter-spacing: .70em;
}

h3{
  letter-spacing: .2em;
  font-style:italic;
  padding-top: 30px;
  font-size: 1.7em;
}

h4{
  letter-spacing: .55em;
  margin-top: -45px;
  padding: 20px 0 20px 0;
}

.main {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  background-color: #F2F2F2;
  padding: 0;
  padding: 20px;
}


li {
  list-style-type: none;
  padding: 10px;
  font-size: .95em;
}

.date {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 auto;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.music {
  margin-top: -20px;
}

.first {
  text-align: left;
}

.second {
  text-align: right;
}

.rsvp a {
  font-size: 4em;
  text-decoration: none;
  letter-spacing: 2em;
  margin: 20px 0 20px 0;


}
.rsvp a:visited {
  color: #ccc;
}

.rsvp {
  padding: 50px;
  text-align: center;
  width: inherit;
}

.rsvp a:hover{
  color: #000;
}
.date {
  padding-bottom: 15px;
}
.music {
  letter-spacing: .27em;
  font-weight: lighter;

}



.first, .second {
  font-size: 1.2em;
  letter-spacing: .5em;

}
