body {
  font-family: 'Mate SC', serif;
  color: #660e29;
  background-image: url("colin-1600.jpg");
}
h1{
  font-size: 3em;
  letter-spacing: .55em;
  border-top: 1px solid #ccc;
  padding-top: 20px;

}

h2 {
  font-size: 3em;
  margin-top: -45px;
  letter-spacing: .70em;
}

h3{
  letter-spacing: .2em;
  font-style:italic;
  padding-top: 30px;
  font-size: 1.7em;
}

h4{
  letter-spacing: .55em;
  margin-top: -45px;
  padding: 20px 0 20px 0;
}

.main {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  background-color: #fff;
  background-color: rgba(255,255,255,.95);
  padding: 25px;
  margin-top: 20px;
  border: 1px solid grey;
}


li {
  list-style-type: none;
  padding: 10px;
  font-size: .95em;
}

.date {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 auto;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.music {
  margin-top: -20px;
}

.first {
  text-align: left;
}

.second {
  text-align: right;
}

.rsvp a {
  font-size: 4em;
  text-decoration: none;
  letter-spacing: 75px;
  color: #ccc;
  text-align: center;
  justify-content: center;
  padding-left: 50px;
  transition:.5s;



}


.rsvp {
  padding: 50px;
  text-align: center;


}

.rsvp a:hover{
  color: #454647;
  
}
.date {
  padding-bottom: 15px;
}
.music {
  letter-spacing: .27em;
  font-weight: lighter;

}



.first, .second {
  font-size: 1.2em;
  letter-spacing: .5em;

}



@media only screen
and (min-device-width : 414px)
and (max-device-width : 736px) { .rsvp a {
  font-size: 2em;

  }}
